.header {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
}

.beeg {
    font-size: 16px;
    margin: 20px;
}

#locationList {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    /* padding-top: 20px;
    margin-left: 20%;
    margin-right: 20%; */
}
