.header {
    font-size: clamp(30px, 5vw, 60px);
    font-weight: 500;
    text-align: center;
}

.locationButton{
    flex: 0 1 calc(25% - 20px);
    color:white;

    width: 300px; 
    height: 194px;

    font-size: 26px; 

    background-size:cover; 
    background-repeat: no-repeat;
    background-position: center;

    border-color: black;
    border-radius: 10px; 
    border-block-color: black;

    margin: 20px;
    gap: 15px;
}

#locationList {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.enable-buttons-container {
    pointer-events: all;
    opacity: 1; 
}

.disable-buttons-container {
    pointer-events: none;
    opacity: 0.5;
}

#knock_name_input {
    max-width: 300px;
    display: block;
    margin: auto;
}

#knock_name_input:placeholder-shown {
    color: red;
}

#knock_name_input:placeholder-shown + .name_input_tooltip  {
    display: block;
    font-size: 20px;
}

.name_input_tooltip {
    color: red;
    display: none;
    margin: auto;
    width: max-content;
}

#request_modal_dialog {
    font-size: 1.2rem;
    padding: 20px; 
}

/*
.modal-dialog {
    max-width: 600px; 
}
*/

.modal-content {
    padding: 20px; 
}



@media (max-width: 991px) {
    .navbar-collapse {
        max-height: 70vh;
        padding: 15px;
        overflow-y: auto;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-item {
        padding: 10px 0;
    }

    .navbar-nav .nav-link {
        font-size: 1.3rem;
        padding: 10px 15px;
        text-align: left;
    }

    .locationButton {
        flex: 0 1 calc(100%); /* Adjust the width to 33.33% minus margin */
        margin: 10px 20px;
        gap: 0px;
        font-size: 2rem;
    }

    /* Embiggening for the location button */

    .btn {
        width: 100%;
        font-size: 1.25rem;
    }
}
