<!DOCTYPE html>
<html>
<head>
    <!--<link rel="stylesheet" href="https://themeswitcher.csh.rit.edu/api/get" media="screen">-->
    <link rel="stylesheet" href="https://s3.csh.rit.edu/csh-material-bootstrap/4.3.1/dist/csh-material-bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/home.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">LetMeIn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false">Locations <span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="download">
                {{ range $key, $value := .location_map }}
                    <a id="{{ $key }}" href="/request/{{ $key }}" class="dropdown-item">{{ $value }}</a>
                {{ end }}
                <!-- <a class="dropdown-item" href="dist/csh-material-bootstrap.min.css">csh-material-bootstrap.min.css</a>
                <a class="dropdown-item" href="dist/csh-material-bootstrap.css">csh-material-bootstrap.css</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="src/_variables.scss">_variables.scss</a>
                <a class="dropdown-item" href="src/csh-material-bootstrap.scss">csh-material-bootstrap.scss</a> -->
            </div>
          </li>

        <li class="nav-item">
            <a class="nav-link" href="#">What is this?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/willnilges/letmein2">Source Code</a>
        </li>
        </ul>
    </div>
    </nav>
    <div class="header">
        Welcome to Computer Science House <!--TODO: Environment Variable-->
    </div>
    <br>
    <h2 style="text-align:center">
        Where are you?
    </h2>
    <div id="locationList">
        {{ range $key, $value := .location_map }}
        <button id="{{ $key }}" class="btn btn-outline-primary beeg">{{ $value }}</button>
        {{ end }}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        homePageSetup();
    </script>
</body>
</html>
