<!DOCTYPE html>
<html>
<head></head>
<body>
    <h1>
        Welcome to LetMeIn
    </h1>
    <br>
    <h2>
        Where are you?
    </h2>
    <ul>
        <li><a href="/req_s_stairs">South Side Stairwell</a></li>
        <li><a href="/req_n_stairs">North Side Stairwell</a></li>
        <li><a href="/req_level_a">Level A Lobby</a></li>
        <li><a href="/req_level_1">Level 1 Lobby</a></li>
        <li><a href="/req_l_well">L Well</a></li>
    </ul>
</body>
</html>
