<!DOCTYPE html>
<html>

<head>
    <title>CSH: Let me in!!!!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='LetMeIn.js') }}"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>
</head>

<body>
    <div id="waitingStatus">
        <p>
            Notifying User Center...
        </p>
        <img src="https://media0.giphy.com/media/yx400dIdkwWdsCgWYp/giphy.gif" />
    </div>
    <div id="comingStatus">
        <p>
            Someone is coming to let you in!
        </p>
        <img src="https://media0.giphy.com/media/Sti3xU9WslS95nIoox/giphy.gif" />
    </div>
    <div id="timedOutStatus">
        <p>
            Nobody responded to the request.<br />
            <br /> Thank you, or, I'm sorry.
        </p>
        <img src="https://media0.giphy.com/media/3oEjI80DSa1grNPTDq/giphy.gif" />
    </div>
    <div id="ligmaStatus">
        <p>
            What is Ligma?
        </p>
        <img src="https://media.giphy.com/media/12gTXYTS09oST6/giphy.gif" />
    </div>
    <div id="buttonContainer">
        <button id="butt">Let me in: Level 1!!!</button>
        <button id="levelA">Let me in: Level A!!!</button>
        <button id="levelN">Let me in: N. Stairwell!!!</button>
        <button id="levelS">Let me in: S. Stairwell!!!</button>
    </div>
</body>

</html>
