<!DOCTYPE html>
<html>
<head>
    <script src="/static/script.js"></script>
</head>
<body>
    <h1 id="notification_header">
        Requesting access at: {{ .location }}
    </h1>
    <h2><a id="home_link" href="/">Return to home</a></h2>
    <h2><a id="cancel_link" href="/nvm">Don't need in anymore? Click here to cancel</a></h2>
</body>
<script>
    request_ack();
</script>
</html>
